@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
   0% {
      transform: translateX(0);
   }

   100% {
      transform: translateX(-50%);
   }
}

.animate-marquee {
   display: flex;
   white-space: nowrap;
   animation: marquee 10s linear infinite;
}

.poppins {
   font-family: "Poppins", sans-serif;
}

.dots {
   width: 13.4px;
   height: 13.4px;
   position: relative;
}

.dots::before,
.dots::after {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: 50%;
   background: #474bff;
}

.dots::before {
   box-shadow: -26.9px 0 #474bff;
   animation: dots-dm1l1cmd 0.6s infinite linear;
}

.dots::after {
   transform: rotate(0deg) translateX(26.9px);
   animation: dots-dh1qq5md 0.6s infinite linear;
}

@keyframes dots-dm1l1cmd {
   100% {
      transform: translateX(26.9px);
   }
}

@keyframes dots-dh1qq5md {
   100% {
      transform: rotate(-180deg) translateX(26.9px);
   }
}

.darkmode {
   background-color: #121212;
   color: white;
}

.darkmode-text {
   color: white;

}

.user-visibility {
   text-align: center;
   font-family: Arial, sans-serif;
}

.lock-container {
   display: flex;
   align-items: center;
   gap: 10px;
   justify-content: center;
   margin-top: 10px;
}

h1,
h2 {
   color: #fff;
}

/* Hide default checkbox */
#lock {
   display: none;
}

/* Lock Label - Button */
.lock-label {
   width: 50px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(60, 60, 60);
   border-radius: 15px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* Lock Icon Wrapper */
.lock-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transform: rotate(-10deg);
}

/* Shackle (Top Part of Lock) */
.shackle {
   background-color: transparent;
   height: 10px;
   width: 16px;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   border-top: 3px solid white;
   border-left: 3px solid white;
   border-right: 3px solid white;
   transition: all 0.3s;
}

/* Lock Body */
.lock-body {
   width: 18px;
}

/* Interaction - Open Lock */
#lock:checked+.lock-label .lock-wrapper .shackle {
   transform: rotateY(150deg) translateX(3px);
   transform-origin: right;
}

/* Active Lock Color Change */
#lock:checked+.lock-label {
   background-color: rgb(100, 50, 220);
   box-shadow: 0 3px 15px rgba(100, 50, 220, 0.5);
}

/* Click Animation */
.lock-label:active {
   transform: scale(0.9);
}